[submodule "src/text-editor"]
	path = src/text-editor
	url = git@gitlab.com:Open-App-Library/escriba.git
[submodule "src/cloud/api"]
	path = src/cloud/api
	url = git@gitlab.com:Open-App-Library/qt-vibrato-cloud-api-library.git
[submodule "src/crypto/vibrato-crypto-utils"]
	path = src/crypto/vibrato-crypto-utils
	url = git@gitlab.com:Open-App-Library/vibrato-crypto-utils.git
