[submodule "src/text-editor"]
	path = src/text-editor
	url = git@gitlab.com:Open-App-Library/escriba.git
[submodule "src/cloud/api"]
	path = src/cloud/api
  url = git@github.com:Open-App-Library/Qt-Vibrato-Cloud-API.git
[submodule "src/crypto/vibrato-crypto-utils"]
	path = src/crypto/vibrato-crypto-utils
  url = git@github.com:Open-App-Library/Vibrato-Crypto-Utils.git
